@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


 body {
    background-image: url('assets/among_us.mp4');
}
#myVideo {
  z-index: 2;
    right: 0;
    bottom: 0;
    min-width: 80%;
    min-height: 80%;
    position: absolute;
  }
  
.form-section {
  z-index: 2;
  display: flex !important  ;
  flex-direction: column;
}
.input-group {
  position: relative;
 }
 .d-flex {
  display: flex;
 }
 .w-100 {
  width: 355px;
 }
 .input {
  margin: 5px;
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  backdrop-filter: blur(20px);
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
 }
 .user-label {
  margin: 5px;
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
 }
 .input:focus, input:valid {
  outline: none;
  border: 1.5px solid #e81a1d;
 }
 .input:focus ~ label, input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: black;
  padding: 0 .2em;
  color: #e81a1d;
 }
 .sus {
  height: 50px;
 }
 .list {
  position: absolute;
  z-index: 20 ;
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
 }
 @media screen and (max-width : 485px) {
  .list {
    position: absolute;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    margin: auto;
    width: 100vw;
    margin: 0;
    left: 0;
    margin-top: 2vh;
    padding: 0;
  }
  .form-section {
    transform: translateX(30%);
    transform: translateY(30%);
  }
 }
 .nav-link {
  color: white;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
 }
 .nav-link:hover{
  color: red;
 }
.container {
  transform: translateX(50%);
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 12;
} 
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all .5s ease;
  margin: auto;
}

button:active {
  transform: scale(.9);
  transition: all 100ms ease;
}

button svg {
  transition: all .5s ease;
  z-index: 2;
}

.play {
  transition: all .5s ease;
  transition-delay: 300ms;
}

button:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all .5s ease;
  z-index: 2;
}

button:hover .now {
  transform: translateX(8px);
  transition-delay: 300ms;
}

button:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}

textarea {
  resize: none;
}